{% extends 'base.html' %}

{% block title %}
Doctors
{% endblock %}

{% block content %}
<h1 class="text-center">Our Doctors<h1>
<hr>
<p style="color:blue;font-size:18px;">We have some of the best specialty doctors from around the world, they bring years of experience and offer evidence based treatment to ensure the best care for you.</p>
<hr>
<div class="container text-center bg-light">

    {% for d in doctors %}


    <div class="card text-center mx-3 my-3" style="width: 18rem; display:inline-block">
        <img src="{{d.doc_image.url}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h4 class="card-title">Dr.{{d.doc_name}}</h4>
          <h5>{{d.doc_spec}}</h5>
          <h5 style="color:red;">{{d.dep_name}} Department</h5>
          
          
        </div>
      </div>

    {% endfor %}

</div>

{% endblock %}